// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";

// @font-face {
//   font-family: 'zombiea';
//   src: url('app/assets/fonts/zombie-webfont.woff2') format('woff2'),
//        url('app/assets/fonts/zombie-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face { font-family: 'zombiea'; src: font-url('zombie-webfont.woff2'); }


.bodyall {
  background: #758173;
  font-family: 'Poppins', sans-serif;
  color: #020402;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

a {
  text-decoration: none;
  color: #758173;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: rgb(63, 70, 62);
}

.container {
  margin-top: 30px;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.card-body {
  padding: 20px;
}

.zombie {
  font-size: 1.8rem;
  font-weight: bold;
  color: #020402;
}

.card-body span {
  display: block;
  font-size: 1rem;
  color: #758173;
  margin-top: 5px;
}

h5 {
  color: #758173;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.btn {
  display: block;
  width: 100%;
  background-color: #758173;
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: rgb(84, 94, 82);
  transform: scale(1.05);
}

.search {
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    width: 350px;
}

.search-input {
  font-size: 16px;
  font-family: 'Lexend', 'sans-serif';
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
  flex: 1;
}
