.bodyshow {
  text-align: left;
}

.description, .balcony {
  background-color: #fff;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-gallery img {
  width: 48%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.details, .reservation {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 48%;
  font-size: 0.8em;
}

h2 {
  color: #555;
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #758173;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8fae8b;
}

.price-summary {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.price-summary p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.price-summary p.total {
  font-weight: bold;
  font-size: 1.2em;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
