<h1>All zombies</h1>
<ul>
   <% @zombies.each do |zombie| %>
   <li><%= zombie.name %></li>
   <% end %>
</ul>
<%= link_to "Create a new zombie", new_zombie_path %>
<%# <a href="/new">Create a new zombie</a> %>
